/* TODO Add site wide styles */
#root {
  height: 100vh;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: 'gg sans Medium', sans-serif;
}

ul,
li {
  list-style: none;
}

button {
  cursor: pointer;
}


.hidden {
  display: none;
}

:root {
  --primary-green: rgb(79 206 93);
  --primary-green-h:rgb(77, 219, 96);
  --primary-blue: rgb(27 106 217);
  --primary-blue-h: rgb(43, 124, 238);
  --primary-red: rgb(229 18 81);
}
