.music-bar__outer-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: white;
}

.music-bar__song-div {
    width: 100%;
    display: grid;
    grid-template-columns: 15% 70% 15%;
}

.music-bar__range {
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
}

.music-bar__range::-webkit-slider-runnable-track {
    appearance: none;
    background: var(--primary--gray);
    height: 8px;
    border-radius: 8px;
}

.music-bar__range::-webkit-slider-thumb {
    appearance: none;
    background-color: var(--primary-blue);
    height: 15px;
    width: 15px;
    border-radius: 15px;
    margin-top: -4px;
}

.music-bar__play-all {
    display: grid;
    align-items: center;
    grid-template-columns: 50px auto 50px;
    width: 100%;
}

.music-bar__timers {
    width: 100%;
    text-align: center;
}

.music-bar__play-bar-played {
    display: flex;
    justify-content: flex-end;
    color: white;
}

.fa-circle {
    margin-right: -5px;
    color: black;
}

.music-bar__title {
    font-size: 20px;
    font-weight: 200;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: calc(90%);
}


.music-bar__by {
    font-size: 15px;
    font-weight: 200;
    color: lightgray;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: calc(90%);
}

.music-bar__title-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

.music-bar__queue {
    display: flex;
    align-items: center;
    justify-self: center;
}

.music-bar__queue button{
    background-color: var(--primary-blue);
    border: none;
    height: 30px;
    width: 100px;
    border-radius: 20px;
    color: white;
}

.music-bar__play-button {
    color: darkgray;
    font-size: 30px;
}

.music-bar__play-button:hover {
    color: white;
}

.music-bar__play-button:active {
    transform: translateY(4px);
}

.music-bar__next-on {
    color: darkgray;
    font-size: 20px;
}

.music-bar__next-on:hover {
    color: white;
}

.music-bar__next-on:active {
    transform: translateY(4px);
}

.music-bar__next-off {
    font-size: 20px;
    color: darkgray;
}

.music-bar__action-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
